<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Reporting.WinForms.v11" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.1484.0" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net45" />
</packages>